.pad{
  padding-top: 10%;
}
.busted{
  display: none;
}
.centerWrap{
  text-align: center;
}
#youWin{
  display: none;
}
.borderWrap{
  border-width: 3px;
  border-style: solid;
  border-color: black;
}
